@{
    ViewBag.Title = "Teachers";
}
  <!-- Page Content -->
<div class="container">
    <!-- Introduction Row -->
    <h1 class="my-4">
        Academy
        <small>Docentes</small>
    </h1>
    <p>Academy se dedica a realizar cursos de calidad para empresas, gobierno y publico en general para dar educación, trabajo e inclusión a la sociedad</p>

    <!-- Content Row -->
    <!-- Intro Content -->
    <div class="row">
            <div class="col-lg-12">
                <h2 class="my-4">Nuestros Profesores</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="~/Content/img/cristina_cadenas.jpg" width="200" height="200" alt="Profesora de UCA">
                <h3>
                    Cristina Cadenas
                    <small>RSE</small>
                </h3>
                <p>Profesora de UCA de Etica en los Negocios y RSE</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="~/Content/img/carolina_martinezcasado.jpg" width="200" height="200" alt="Profesora de RRHH y Marketing Digital">
                <h3>
                    Carolina Martinez Casado
                    <small>Marketing</small>
                </h3>
                <p>Master de Marketing Digital y Seleccion de Personal</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="~/Content/img/mariela_escudero.jpg" width="200" height="200" alt="Profesora de Derecho procesal Penal y Genero">
                <h3>
                    Mariela Escudero
                    <small>Dir.Diversidad</small>
                </h3>
                <p>Profesora en Derecho Procesal, Genero y Diversidad</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="~/Content/img/francisco_marotta.jpg" width="200" height="200" alt="Business Intelligence y Programacion">
                <h3>
                    Francisco Marotta
                    <small>Business Intelligence</small>
                </h3>
                <p>Especialista en Business Intelligence y Programción</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="~/Content/img/marcos_ford.jpg" width="200" height="200" alt="Networking">
                <h3>
                    Marcos Ford
                    <small>Emprendedor</small>
                </h3>
                <p>Co funder de Precios Ninja y especialista en Networking</p>
            </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="~/Content/img/mauricio_andersen.jpg" width="200" height="200" alt="Big Data">
            <h3>
                Mauricio Andersen
                <small>Big Data</small>
            </h3>
            <p>Especialista en Big Data</p>
        </div>

    </div>
    <!-- /.container -->  

