body {
    
}

.accordeon-violeta {
    color: #818182;
    background-color: lavender !important;
    border-color: #fdfdfe;
}

.violet-text {
    color: #818182 !important;
    border-color: crimson;
}